.d{
    display: flex;
    height: 100vh;
    width: 100%;
}
.d1{
    display: flex;
    background-color: rgb(115, 228, 23);
    height: 100vh;
    width: 100%;
}

.footer{
    position:absolute;
    bottom:0;
    width:100%;
    height: 50px;
    background-color: red;
}
.navbar{
    display: flex;
    height: 10px;
    text-align: center;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
}
navbar>a,a {
    text-decoration: none;
    margin:0px 10px;
    z-index: 11;
}
.App-header {
    background-color: #282c34;
    min-height: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    margin-bottom: 5vh;
    text-align: center;
    padding: 12px;
}
.App{
    margin:10px 10px;
    float:left;
}

.DraftEditor-root{
    height: 700px !important;
}

.wrapper-class {
    padding: 1rem;
    border: 1px solid #ccc;
    margin:auto;
    width: 1000px;
}
.wrapper-class1 {
    padding: 1rem;
    border: 1px solid #ccc;
    margin:auto;
    width: 1000px;
}
.editor-class {
    background-color:lightgray;
    padding: 1rem;
    border: 1px solid #ccc;
}
.editor-class1 {
    background-color:lightgray;
    padding: 1rem;
    border: 1px solid #ccc;
    pointer-events: none;
}
.toolbar-class {
    border: 1px solid #ccc;
}
.toolbar-class1 {
    display: none !important;
    border: 1px solid #ccc;
}
.cen{
    width: 100%;
    margin: auto;
    height: 100%;
}
